// POST

.PostsContainer {
  background-color: #ffffff;
  margin: 10px;
  width: 570px;

  .postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      .link {
        text-decoration: none;
        color: #000;
      }
      .username {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        i {
          margin-left: 5px;
          color: rgb(62, 62, 255);
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .threeDot {
      cursor: pointer;
      i {
        font-size: 20px;
        color: rgb(55, 55, 76);
        cursor: pointer;
        text-transform: lowercase;
      }
      i:hover {
        color: rgb(62, 62, 255);
      }
    }
  }
  .postCenter {
    .postTitle {
      font-size: 16px;
      font-weight: 500;
      color: rgb(35, 32, 32);
      padding: 7px;
      cursor: text;
      &::placeholder {
        color: rgb(39, 37, 37);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    .TextComment {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      i {
        color: rgb(55, 55, 76);
        font-size: 20px;
        cursor: pointer;
        text-transform: lowercase;
      }
      i:hover {
        color: rgb(62, 62, 255);
      }
      .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .CmtHolder {
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        height: 35px;
        margin: 0 5px;
        border-radius: 18px;
        color: rgb(35, 32, 32);
        background-color: rgb(236, 235, 235);
        padding-left: 5px;
        padding: 3px;

        &::placeholder {
          color: rgb(57, 57, 57);
        }
      }
    }
    .postBottomRight {
      display: flex;
      gap: 10px;
      padding-left: 10px;
    }
  }
}

.mainPost {
  .postContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    .userProfile {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .mindInput {
      height: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      height: 35px;
      margin: 0 5px;
      border-radius: 18px;
      color: rgb(35, 32, 32);
      background-color: rgb(236, 235, 235);
      padding-left: 5px;
      padding: 3px;
      cursor: pointer;

      &::placeholder {
        color: rgb(57, 57, 57);
      }
    }
    .BtnPost {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 20px;
      background-color: rgb(9, 164, 43);
      color: white;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(5, 154, 20, 0.8);
      }
    }
    .fileInput {
      display: none;
    }
  }
  .postBtn {
    position: absolute;
    top: 52%;
    right: 33%;
    width: 560px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    .BtnPost {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 10px;
      background-color: rgb(9, 164, 43);
      color: white;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(5, 154, 20, 0.8);
      }
    }
    .Prev {
      display: flex;
      width: 100%;
    }
    .textArea {
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0;
      height: 55px;
      color: rgb(35, 32, 32);
      background-color: rgb(248, 248, 248);
      padding-left: 5px;
      padding: 3px;
      cursor: text;
      &::placeholder {
        color: rgb(39, 37, 37);
      }
    }
    .wrapUser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .flexIcon {
        float: right;
        display: flex;
        .delete-icon {
          font-size: 15px;
          color: rgb(255, 255, 255);
          background-color: rgb(7, 118, 16);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
      .userProfileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .OpModel {
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      .photo-icon {
        color: rgb(67, 84, 97);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          color: rgb(121, 3, 3);
        }
      }
    }
  }
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  .post {
    background-color: rgb(255, 255, 255);
    gap: 15px;
    .imageContainer {
      justify-content: center;
      align-items: center;
      background-color: #450909;
      margin: 0 auto;
      width: 100%;
      .post-images {
        height: 550px;
        width: 100%;
        width: 550px;
        object-fit: contain;
      }
    }
    .post_leftSide {
      border: 1px solid rgb(223, 223, 223);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      .author {
        display: flex;
        gap: 10px;
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .author_info {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          .author-name {
            display: flex;
            gap: 6px;
            font-size: 16px;
            font-weight: bold;
            color: #000;
            i {
              color: rgb(62, 62, 255);
            }
          }
          .flex-time {
            display: flex;
            gap: 5px;
            p {
              font-size: 14px;
              font-weight: 500;
              color: rgb(62, 62, 62);
              line-height: 20px;
            }
          }
        }
      }
      .share_post {
        display: flex;
        align-items: end;
        gap: 10px;
        cursor: pointer;
        i {
          color: rgb(55, 55, 76);
          font-size: 20px;
          cursor: pointer;
          text-transform: lowercase;
        }
        i:hover {
          color: rgb(62, 62, 255);
        }
        .CmtHolder {
          height: 100%;
          border: none;
          outline: none;
          font-size: 16px;
          font-weight: 500;
          height: 35px;
          margin: 0 5px;
          border-radius: 18px;
          color: rgb(35, 32, 32);
          background-color: rgb(236, 235, 235);
          padding-left: 5px;
          padding: 3px;

          &::placeholder {
            color: rgb(57, 57, 57);
          }
        }
        .userProfile {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
