// POST

.PostsContainer {
  background-color: #ffffff;
  margin: 10px 40px;
  width: 570px;

  .postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      .link {
        text-decoration: none;
        color: #000;
      }
      .username {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        i {
          margin-left: 5px;
          color: rgb(62, 62, 255);
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .threeDot {
      position: relative;
      cursor: pointer;
      i {
        font-size: 20px;
        color: rgb(55, 55, 76);
        cursor: pointer;
        text-transform: lowercase;
      }
      i:hover {
        color: rgb(62, 62, 255);
      }
    }
  }
  .postCenter {
    .postTitle {
      font-size: 16px;
      font-weight: 500;
      color: rgb(35, 32, 32);
      padding: 7px;
      cursor: text;
      &::placeholder {
        color: rgb(39, 37, 37);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    .TextComment {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      i {
        color: rgb(55, 55, 76);
        font-size: 20px;
        cursor: pointer;
        text-transform: lowercase;
      }
      i:hover {
        color: rgb(62, 62, 255);
      }
      .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .CmtHolder {
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        height: 35px;
        margin: 0 5px;
        border-radius: 18px;
        color: rgb(35, 32, 32);
        background-color: rgb(236, 235, 235);
        padding-left: 5px;
        padding: 3px;

        &::placeholder {
          color: rgb(57, 57, 57);
        }
      }
    }
    .postBottomRight {
      display: flex;
      gap: 10px;
      padding-left: 10px;
    }
  }
}

.mainPost {
  .postContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 30px;
    .postHeader {
      display: flex;
      align-items: center;
    }
    .userProfile {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .mindInput {
      height: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      height: 35px;
      margin: 0 5px;
      border-radius: 18px;
      color: rgb(35, 32, 32);
      background-color: rgb(236, 235, 235);
      padding-left: 5px;
      padding: 3px;
      cursor: pointer;

      &::placeholder {
        color: rgb(57, 57, 57);
      }
    }
    .BtnPost {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 20px;
      background-color: rgb(9, 164, 43);
      color: white;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(5, 154, 20, 0.8);
      }
    }
    .fileInput {
      display: none;
    }
  }
  .postForm {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    // top: 52%;
    // right: 32.5%;
    width: 560px;
    // display: flex;
    // flex-direction: column;
    // padding: 10px;
    // justify-content: center;
    // background-color: #ffffff;
    // border: 1px solid rgb(223, 223, 223);
    // border-radius: 10px;
    // -webkit-box-shadow: 0px 0px 25px -3px #000000;
    // box-shadow: 0px 0px 25px -3px #000000;
    // z-index: 999;

    .uploadProgress {
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    .BtnPost {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 10px;
      background-color: rgb(9, 164, 43);
      color: white;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(5, 154, 20, 0.8);
      }
    }
    .Prev {
      width: 100%;

      .leftPrev {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        label {
          cursor: pointer;
        }
        i {
          color: #fff;
          font-size: 20px;
          cursor: pointer;
          position: absolute;
          top: 5px;
          right: 5px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .Categories {
        background-color: #ffffff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #f5f5f5;
        padding: 20px;
        display: flex;
        align-items: center;
        select {
          border: none;
          outline: none;
          font-size: 16px;
          font-weight: 500;
          height: 35px;
          border-radius: 18px;
          color: rgb(35, 32, 32);
          background-color: rgb(229, 229, 229);
          padding-left: 5px;
          padding: 3px;
          cursor: pointer;
        }
        .Cate {
          background-color: #dadada;
          width: 100px;
          border-radius: 10px;
          padding: 7px;
          border: 1px solid gray;
          span {
            font-size: 14px;
            font-weight: 500;
            color: rgb(35, 32, 32);
            padding: 10px;
          }
        }
      }
    }
    .textArea {
      display: flex;
      align-items: center;
      justify-content: start;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      margin: 17px 0;
      height: 55px;
      color: rgb(35, 32, 32);

      cursor: text;
      &::placeholder {
        color: rgb(39, 37, 37);
      }
    }
    .wrapUser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .flexIcon {
        float: right;
        display: flex;
        .delete-icon {
          font-size: 15px;
          color: rgb(255, 255, 255);
          background-color: rgb(7, 118, 16);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
      .userProfileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .OpModel {
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      .Icon {
        display: flex;
        align-items: center;
        gap: 20px;
        .icon {
          font-size: 16px;
          color: rgb(55, 55, 76);
          cursor: pointer;
          text-transform: lowercase;
        }
        .icon:hover {
          color: rgb(62, 62, 255);
        }
      }
      .photo-icon {
        color: rgb(67, 84, 97);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          color: rgb(121, 3, 3);
        }
      }
    }
  }
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 550px;
  margin: 0 30px;
  background-color: #fff;
  gap: 5px;
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(35, 32, 32);
  }
}
.Uploading {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 570px;
  opacity: 0.6;
  background-color: #fff;
  gap: 5px;

  .icon-upload {
    font-size: 50px;
    color: rgb(51, 114, 230);
  }
  div {
    display: flex;
    align-items: center;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
}
.threeDots {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px;
  width: 120px;
  .icon {
    font-size: 10px;
    color: rgb(55, 55, 76);
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .delete-icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  span {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    gap: 7px;

    &:hover {
      color: #5c5c5c;
      background-color: #fff;
      border-radius: 5px;
    }
  }
}

.deletePost {
  position: absolute;
  top: 66%;
  right: 38.3%;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 10px;
  border: 1px solid gray;
  .deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    button {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 35px;
      border-radius: 10px;
      background-color: rgb(9, 164, 43);
      color: white;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(5, 154, 20, 0.8);
      }
    }
  }
}
